/*

!Assets/
Assets/AllResource

!Assets/Base/

!Assets/Base/**


!Packages/
!ProjectSettings/
!Tools/
!Lua/
!UserSettings/
!Assets/Plugins/

!Packages/**
!ProjectSettings/**
!Tools/**
!Lua/**
!UserSettings/**
!Assets/Plugins/**